* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(222, 222, 223);
}

.container-conteudo {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

}

header   {
    display: flex;
    height: 60px;
    justify-content: flex-start;
    max-width: 100%;
    background-color: rgb(255, 0, 0);
    margin-bottom: 40px;
    border-bottom: 3px solid black;

}

.menu-sobre-motos {
    display: flex;
    margin-left: 700px;
    cursor: pointer;
    margin-top: 10px;
}

.menu-sobre-motos h2 {
    font-weight: 10;
    font-size: 20px;
    margin-top: 20px;
    color: aliceblue;
    margin: 5px;
}

header h1 {
    margin-left: 100px;
    color: aliceblue;
    margin-top: 6px;
    font-weight: bold;
    font-style: italic;
    font-size:40px;
}


.faixada h2 {
    display: flex;
    border-bottom: 2px solid black;
    font-size: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 100%;
}

.faixada h3 {
    display: flex;
    font-size: 15px;
    font-weight: 100;
    margin-top: 20px;
    margin-left:400px;
}
 



.sobre-a-loja img {
    max-width:350px;
    max-height: 350px;
    float: left;


}

.moto {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    margin-top: 30px
    ;
}

.moto img {
    max-width: 250px;

}

.secao-motos h2 {
    margin-top: 70px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.motosvitrine {
    margin: 10px;
}

.motosvitrine h2 {
    margin: 10px;
    max-width: max-content;
    max-height: max-content;
}

.motosvitrine h3 {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 12px;
    padding-top: 10px;
    margin: 10px;
}

.moto button {
    font-size: 20px;
    color: #fff;;
    background-color: red;
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
    .container-conteudo {
        display: block;
        padding: 5px 20px 5px 25px;

    }

    header {
        height: 100px;
    }

    header h1 {
    margin-left: 30px;
    margin-top: 20px;
}
    .menu-sobre-motos {
        display: flex;
        margin-left: 30px;
        margin-top: 15px;
    }

    .container {
        max-width: 100%;
    }

    .faixada h2 {
        display: block;
        margin-left: 0;
        align-items:center;
        
    }

    .faixada h3 {
        display: block;
        margin-left: 0;
    }

    .sobre-a-loja .faixada {
        display: block;
        font-size: 1.5em;
    }


    .sobre-a-loja .faixada img {
        margin-right: 0;
        float:none;
        max-width: 100%;
    }

    aside {
        padding-left: 0;
    }

    header div.container {
        flex-direction: column;
    }

    .moto {
        display:block;
    }

    .moto button {
        width: 250px;
    }
}


@media screen and (min-width: 641px) and (max-width:1023px) {
    .container-conteudo {
        display: block;
        padding: 5px 60px 5px 70px;
    }

    .menu-sobre-motos {
        display: flex;
        margin-left: 300px;
        cursor: pointer;
    }

    .sobre-a-loja .faixada {
        display: block;
    }

    .faixada h2 {
        display: block;
        margin-left:0;
    }

    .faixada h3 {
        display: block;
        margin-left: 0;
        margin-top: 30px;
    }

    .sobre-a-loja img {
        max-width: max-content;
        max-height: max-content;
        float: none;
        width: 100%;
    }    
        .moto {
            display: grid;
            grid-template-columns: 60% 40%;
            max-width: max-content;
            max-height: max-content;
        }

        .moto button {
            width: 250px;
        }
}