//Fontes

$fontePrincipal: Roboto, sans-serif;

// Cores
$CordeFundo: #f5f6fa;
$corPrincipal: #182C61;
$corSecundaria: #fff;
$CorBotão: #44bd32;
$CorBotãohover: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;


